{% extends "base.html" %}

{% block head %}

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ledger — Dashboard</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;1,400&family=Epilogue:wght@300;400;500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">

{% endblock %}

{% block body %}

  <main>
    <h1 class="page-title">Good <em>morning</em></h1>
    <p class="page-sub" id="pageDate"></p>

    <div class="stat-cards">
      <div class="card green">
        <div class="card-label">Income</div>
        <div class="card-value" id="statIncome">${{ income_sum }}</div>
        <div class="card-sub" id="incomeCount">— transactions</div>
      </div>
      <div class="card red">
        <div class="card-label">Expenses</div>
        <div class="card-value" id="statExpense">${{ expense_sum }}</div>
        <div class="card-sub" id="expenseCount">— transactions</div>
      </div>
      <div class="card neutral">
        <div class="card-label">Balance</div>
        <div class="card-value" id="statBalance">${{ balance }}</div>
        <div class="card-sub">this month</div>
      </div>
    </div>

<ul class="tx-list" id="txList">
      {% for transaction in transactions %}
      <li class="tx-item" style="animation-delay: 50ms">
        <div class="tx-icon">{{ categories_lookup.get(transaction.category_id, {}).get('emoji', '📦') }}</div> <!-- Виводимо емодзі категорії або "📦", якщо категорія не знайдена -->
        <div class="tx-body">
          <div class="tx-name">{{ transaction.description or  '—' }}</div>
          <div class="tx-meta">
            <span class="tx-date">{{ transaction.date | format_date }}</span>
            <span class="tx-cat">{{ categories_lookup.get(transaction.category_id, {}).get('name', 'Unknown') }}</span> <!-- Виводимо назву категорії або "Unknown", якщо категорія не знайдена -->
          </div>
        </div>
        <div class="tx-amount {{ transaction.amount | color }}">  
        {% if transaction.amount >= 0 %} 
          +${{ '%.2f' | format(transaction.amount)}}
        {% else %}  
          -${{ '%.2f' | format(-transaction.amount)}}
        {% endif %}
        </div>
      </li>
      {% endfor %}
    </ul>
  </main>

  <script src="{{ url_for('static', filename='scripts/data.js') }}"></script>
  <script>
    document.getElementById('pageDate').textContent =
      new Date().toLocaleDateString('en-US', { weekday: 'long', month: 'long', day: 'numeric', year: 'numeric' });
  </script>
{% endblock %}